[Desktop Entry]
Encoding=UTF-8
Name=Link to Displaying image002.jpg
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=dc864d8803&attid=0.0.5&permmsgid=msg-f:1693307655426048204&th=177fd657511e80cc&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ-kZLWhURBBkYeVTeBDYEnqqncXknr6c6HzNF2aAlVammEWVT0NS_GbmOB5qLJqH61clKeSyTaS2pYCej8G5rCYRXbAIbe0CZca_bZYHTpvxrpLs0wYLWmLKGQ&disp=emb&realattid=20fd23f0696650c8_0.0.4
Icon=text-html
